@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #111827;
}

/* https://codepen.io/billyysea/pen/nLroLY */
/* thank you!! */
.sky-gradient-1 { background: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-gradient-2 { background: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-gradient-3 { background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-gradient-4 { background: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-gradient-5 { background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-gradient-6 { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-gradient-7 { background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-gradient-8 { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-gradient-9 { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-gradient-10 { background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-gradient-11 { background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }


.h3 {
    font-family: var(--font-jetbrains-mono), monospace;
}

.panel {
    background-color: rgb(229, 231, 235, 0.1); 
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem;
    backdrop-filter: blur(1rem);

}
.panel h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    
}
